:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(127,255,211);
}

body {
  display: flex;
}

button:hover {
  border-color: #646cff;
}

.inp{
  margin-bottom: 20px;
}